body{
    background-image:url("background.jpg");
    text-align: center;
}
.login_div1
	{
		background:blueviolet;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}
	.login_div2{
		background: blueviolet;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}
	#output{
		background-image: url("div_background.jpg");
		border-radius: 10px;
		border-top: 10px solid blue;
		padding: 10px;
		float: none;
		text-align: left;
	}
	#btn{
		background-image: url("OIP.jfif");
	}
	#score_display{
		align-items: left;
	}